div.gridContainer {
    border : 5px solid black;
    display: flex;
    flex-wrap : wrap;
    width : 1010px;
    height: 1010px;
}

div.gridCell {
    background-color: mintcream;
}

div.coloredGridCell {
    background-color: yellow;
}
